body {
  background: #232649;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie {
  width: 200px;
  position: relative;
  color: white;
  font-size: 12px;
  background: #383B67;
  border-radius: 10px;
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.movie-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 95%;
  background-color: rgba(0,0,0,0.7);
  font-size: 10px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.movie:hover .movie-details {
  opacity: 1;
}

.movie-info {
  display: flex;
  justify-content: space-between; /* 내용을 양 끝으로 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 0 10px; /* 좌우 패딩 */

  font-size: 12px;
}